/* reset */
$base-bg: #fff;
$base-text-color: #656565;
$base-fs: 18px;
$base-line-height: 140%;
$base-font-family: "Roboto", sans-serif;
/* main variables */

//text, title colors
$text-white: #fff;
$text-blue: #005698;

$title-color: #484848;
$title-wite: #fff;
$title-blue: #005698;

// background colors
$bg-light-gray: #f7f7f7;
$bg-blue: #005698;

// font size title
$font-size-h1: 40px;
$line-height-h1: 140%;
$font-size-h2: 28px;
$line-height-h2: 120%;
$font-size-h3: 20px;
$line-height-h3: 120%;

// colors
$black: #000;
