/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
	height: 88px;
	background-color: $base-bg;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	&__social-link {
		position: absolute;
		top: -12px;
		left: -30px;
	}
	.logo {
		display: flex;
		width: 88px;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btn-blue {
			height: 46px;
		}
	}
}

.menu {
	display: flex;
	font-size: $base-fs;
	line-height: 120%;
	color: $base-text-color;
	letter-spacing: 0.03em;
	margin-left: 100px;
	&__btn {
		display: none;
	}
	&__item {
		position: relative;
		margin-right: 56px;
		&:last-of-type {
			margin-right: 0;
		}
	}
	a {
		&:hover {
			color: #484848;
		}
	}
	&__dropdown {
		position: absolute;
		top: 30px;
		left: 50%;
		width: 303px;
		background-color: $base-bg;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		padding: 40px 36px 40px 56px;
		@include transform(translateX(-50%));
		display: none;
		> li {
			margin-bottom: 24px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&::before {
			content: "";
			width: 80px;
			height: 4px;
			background-color: $bg-blue;
			position: absolute;
			top: -4px;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
}

.search {
	height: 56px;
	width: 50px;
	position: relative;
	&__input {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		height: 56px;
		width: 50px;
		padding: 0 50px 0 0;
		background-color: transparent;
		background-image: url(../images/icons/magnifying-glass.svg);
		background-position: center right 18px;
		background-repeat: no-repeat;
		border: none;
		@include transition(0.3s ease);
		cursor: pointer;
		&:focus {
			width: 500px;
			background-color: $base-bg;
			padding-left: 26px;
			box-shadow: 0px 0 10px rgba(0, 86, 152, 0.2);
			cursor: text;
		}
	}
	&::after {
		content: "";
		height: 32px;
		width: 1px;
		background-color: #d5d5d5;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		right: -14px;
	}
}

.social-link {
	display: flex;
	&__item {
		margin-right: 26px;
		&:last-of-type {
			margin-right: 0;
		}
		a {
			display: flex;
			width: 20px;
			&:hover {
				svg {
					fill: $bg-blue;
				}
			}
		}
	}
}

@media only screen and(max-width: 1600px) {
	.header {
		&__social-link {
			left: -10px;
		}
	}

	.menu {
		margin-left: 40px;
		&__item {
			margin-right: 30px;
		}
	}

	.search {
		margin-left: -12px;
		&::after {
			right: -8px;
		}
	}
}

@media only screen and(max-width: 1300px) {
	.header {
		&__social-link {
			left: -30px;
		}
		&__nav {
			.btn-blue {
				width: 180px;
			}
		}
	}

	.search {
		margin-left: -10px;
		&::after {
			display: none;
		}
	}

	.social-link {
		&__item {
			margin-right: 16px;
			a {
				width: 16px;
			}
		}
	}
}

@media only screen and (max-width: 1199.8px) {
	.header {
		&__social-link {
			display: none;
		}
	}

	.menu {
		font-size: $base-fs - 2px;
		margin-left: 0;
		&__dropdown {
			width: 260px;
			padding: 30px 26px;
			> li {
				margin-bottom: 20px;
			}
		}
	}

	.search {
		margin: 0;
	}
}

@media only screen and (max-width: 991.8px) {
	.header {
		height: 70px;
		.logo {
			width: 70px;
		}
		&__nav {
			justify-content: flex-end;
			.btn-blue {
				height: 40px;
				width: 160px;
			}
		}
	}

	.menu {
		position: absolute;
		top: 54px;
		right: 0;
		text-align: center;
		padding: 20px 0 20px;
		width: 260px;
		display: block;
		background-color: $base-bg;
		opacity: 0;
		font-size: $base-fs;
		@include transform(translateX(100%));
		@include transition(0.3s ease);
		max-height: calc(100vh - 80px);
		overflow-y: auto;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		&.open {
			opacity: 1;
			@include transform(translateX(0));
		}
		&__btn {
			display: block;
			order: 1;
			position: relative;
			margin: 16px 0 0 20px;
			height: 17px;
			width: 23px;
			background: transparent;
			cursor: pointer;
			z-index: 100;
			> span {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #000;
				&::after,
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -2px;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: #000;
					@include transition(transform 0.4s);
				}
				&::after {
					@include transform(translateY(-6px));
				}
				&::before {
					@include transform(translateY(7px));
				}
			}
			&.active {
				> span {
					height: 0;
					&::after {
						@include transform(rotate(-42deg));
					}
					&::before {
						@include transform(rotate(42deg));
					}
				}
			}
		}
		&__item {
			margin: 0 0 16px;
		}
		&__open-dropdown {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 6px;
				right: -26px;
				background: url(../images/icons/arrow-down-blue.svg) no-repeat center center/contain;
				width: 10px;
				height: 10px;
				@include transition(transform 0.3s);
			}
			&.rotate {
				&::after {
					@include transform(rotate(180deg));
				}
			}
		}
		&__dropdown {
			font-size: $base-fs - 2px;
			position: static;
			top: 0;
			left: 0;
			width: 100%;
			background-color: $base-bg;
			box-shadow: none;
			padding: 16px 30px 0;
			@include transform(translateX(0));
			display: none;
			opacity: 0.8;
			> li {
				margin-bottom: 16px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			&::before {
				display: none;
			}
		}
	}

	.search {
		height: 44px;
		width: 100%;
		position: relative;
		&__input {
			height: 44px;
			width: 50px;
			padding: 0 40px 0 0;
			background-position: center right 14px;
			&:focus {
				width: 100%;
				padding-left: 20px;
			}
		}
		&::after {
			content: "";
			height: 32px;
			width: 1px;
			background-color: #d5d5d5;
			position: absolute;
			top: 50%;
			margin-top: -16px;
			right: -14px;
		}
	}
}

@media only screen and (max-width: 767.8px) {
}

@media only screen and (max-width: 575.8px) {
}

@media screen and (min-width: 1750px) {
	.header {
		&__social-link {
			left: -20px;
		}
	}

	.social-link {
		&__item {
			margin-right: 32px;
		}
	}
}

@media screen and (min-width: 1921px) {
	.header {
		&__social-link {
			left: 0;
		}
	}
}
